@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html {
  background-color: #000;
}

main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.header {
  /* height: 10vh; */
  width: 100%;
}

.video {
  /* height: 75vh; */
}

.viewport {
  width: 100%;
  height: 100%;
  /* transform:scale(0.5); */
}

.footer {
  height: 15vh;
  padding-top: 0px;
  width: 100%;
}

.footer p {
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 3px;
}

.camera-frame {
  position: absolute;
  width: 80%;
  margin: 10%;
  max-width: 400px;
}

.top-banner {
  width: 100%;
  height: 100%;
}

.browser-logo {
  height: 35%;
  margin: 0 auto;
  display: block;
}

.my-3 {
  margin: 1.5em 0;
}

.mb-2 {
  margin-bottom: 0.5em;
}

.copy-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}

#copy-input-link {
  height: 45px;
  border: 1px solid #000;
  border-radius: 5px 0 0 5px;
  border-right: none;
  padding: 0.5em 1em;
  color: #000;
}

.copy-button {
  width: 50px;
  height: 100%;
  border: 1px solid #000;
  background-color: #fff;
  margin-left: -1px;
  border-radius: 0 5px 5px 0;
  font-size: 12px;
  cursor: pointer;
  padding: 0;
  text-align: center;
}

.redirection {
  background-color: white;
  height: 100vh;
  padding: 30px;
}

.btn {
  display: block;
  background-color: #f5f6fa;
  border-radius: 8px;
  height: 50px;
  width: 100%;
  border: 0.5px solid grey;
  box-shadow: rgb(211, 208, 208) 2px 2px 2px;
  font-weight: bold;
}

.frame-overlay {
  align-self: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.take-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40%;
  left: 40%;
  bottom: 2.5em;
  border-radius: 50%;
  height: 5em;
  width: 5em;
  border: 4px solid white;
  opacity: 0.6;
}

.take-button > div {
  background-color: white;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  opacity: 0.6;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.dekstop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #222f3e;
  text-align: center;
  color: white;
  font-family: Roboto;
}

.barcode-container {
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
}

.input-link {
  width: 20rem;
  height: 2rem;
  border-radius: 8px;
  padding: 5px;
  border: none;
  background-color: #40407a;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.dekstop-container p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: small;
}

.img {
  width: 100vw;
}

@media screen and (orientation: landscape) {
  html {
    /* Rotate the content container */
    transform: rotate(-90deg);
    transform-origin: left top;
    /* Set content width to viewport height */
    width: 100vh;
    /* Set content height to viewport width */
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100vh;
    left: 0;
  }
  main {
    width: 100vh;
    height: 100%;
  }

  .detect .video {
    width: 100vw;
    overflow: hidden;
  }



}
